@font-face {
  font-family: IranYekan;
  font-weight: 400;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-regular.ttf');
}

@font-face {
  font-family: IranYekan;
  font-weight: 700;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-bold.ttf');
}

@font-face {
  font-family: IranYekan;
  font-weight: 900;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-black.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 100;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileThin.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 300;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileLight.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 400;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileRegular.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 500;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileMedium.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 500;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileMedium.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 600;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileBold.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 700;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileExtraBold.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 800;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileBlack.ttf');
}

@font-face {
  font-family: IranYekanMobile;
  font-weight: 900;
  src: url('@/assets/fonts/iran-yekan-mobile/IRANYekanMobileExtraBlack.ttf');
}
