$primary: (
  100: #ffffff,
  99: #ecf9fa,
  98: #d4e4ef,
  95: #c6ecf1,
  90: #b1ebf4,
  80: #8cd8e3,
  70: #79d2de,
  60: #53c5d5,
  50: #40bed0,
  40: #3aabbb,
  35: #2d8592,
  30: #2a6f81,
  25: #1a4c53,
  20: #13393e,
  10: #193142,
  0: #000000,
);

$error: (
  100: #ffffff,
  99: #feeced,
  98: #fcd9db,
  95: #f9b3b7,
  90: #f8a0a6,
  80: #f78d94,
  70: #f57a82,
  60: #ff4d4d,
  50: #f1414c,
  40: #d93b44,
  35: #a92e35,
  30: #91272e,
  25: #792126,
  20: #481317,
  10: #32202f,
  0: #000000,
);

$success: (
  100: #ffffff,
  99: #e6f8ee,
  98: #ccf2de1a,
  95: #ccf1dd,
  90: #99e4bb,
  80: #66d699,
  70: #4dcf88,
  60: #50cd89,
  50: #00bb55,
  40: #00a84d,
  35: #00833b,
  30: #007033,
  25: #004b22,
  20: #213841,
  10: #001308,
  0: #000000,
);

$warning: (
  100: #ffffff,
  99: #fff7dc,
  98: #f6f4ea,
  95: #fadd99,
  90: #f9d580,
  80: #f7cc67,
  70: #f5bb34,
  60: #ffbc1f,
  50: #f2aa01,
  40: #da9901,
  35: #a97701,
  30: #a56100,
  25: #614400,
  20: #493300,
  10: #2c3030,
  0: #000000,
);

$info: (
  100: #ffffff,
  99: #f5feff,
  98: #ecfcff,
  95: #cdf8ff,
  90: #90f1ff,
  80: #4ed8e9,
  70: #21bccd,
  60: #00a0ae,
  50: #008490,
  40: #006973,
  35: #005c64,
  30: #004f57,
  25: #004249,
  20: #00363c,
  10: #001f23,
  0: #000000,
);

$neutral: (
  100: #ffffff,
  99: #f4f7f9,
  98: #edf2f5,
  95: #e0e0e0,
  90: #d2d3d6,
  85: #cccacf,
  80: #c9cace,
  70: #b7b9bd,
  60: #a2a0a8,
  50: #a5a7ad,
  40: #ffffff66,
  35: #788391,
  30: #5a6572,
  25: #21354f4d,
  20: #111827,
  15: #21354f,
  10: #152132,
  5: #19273b,
  0: #000000,
);
